.flex-container {
  display:flex;
}

.top {
  background-color: transparent;
  padding: 5px 20px;
}

.h1El {
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav {
  width: 100%;
  text-align: right;
  padding: 25px 25px;
}

nav a {
  font-size: 25px;
  color:mediumseagreen;
  margin: 0 25px;
}
/* makes the background yellow when navigation links are hovered over*/
nav a:hover {
  background-color:yellow;
}

.banner {
  flex-direction: column-reverse;
  align-items: flex-end;
  height:360px;
  background-image: url("https://images.all-free-download.com/images/graphicthumb/different_people_pattern_seamless_vector_576727.jpg");
}

.phrase {
  background-color: black;
  color: white;
  width: 20%;
}
